/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px "Arial", sans-serif; background:url(../images/bg-img.jpg) top no-repeat, url(../images/background.jpg) repeat; color:#717171; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font-size:14px; font-family:"Arial", sans-serif; color:#fff; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*-------------------------------------FONTS---------------------------------------*/
@font-face {
    font-family: 'passionbold';
    src: url('../fonts/passionone-regular-webfont.eot');
    src: url('../fonts/passionone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/passionone-regular-webfont.woff') format('woff'),
         url('../fonts/passionone-regular-webfont.ttf') format('truetype'),
         url('../fonts/passionone-regular-webfont.svg#passionbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap{
	width:950px;
	margin:65px auto;
	background:url(../images/background.jpg) repeat;
}
h2{
	font-size:36px;
	font-family:"Passion One";
	font-weight:300;
	color:#fff;
	margin:0 0 14px 0;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
	background:url(../images/header.jpg) no-repeat;
	height:511px;
	overflow:hidden;
}
.header div{
	background:rgba(68, 65, 66, 0.7);
	padding:26px 40px 25px 40px;
}
.header div h1{
	width:187px;
}
.header div ul{
	float:right;
	margin:-42px 0 0 0;
}
.header div ul li{
	float:left;
	margin:0 28px;
}
.header div ul li a{
	text-transform:uppercase;
	padding:10px 0 0 0;
}
.header div ul li .active-link{
	color:#AFAA9B;
	background:url(../images/active-link.png) top center no-repeat;
}
.header div ul li a:hover{
	color:#AFAA9B;
	background:url(../images/active-link.png) top center no-repeat;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content{
	float:left;
	width:640px;
	margin:35px 40px 30px 40px;
}
.content ul{
	overflow:hidden;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	border-bottom: 1px solid #323232;
}
.content ul li{
	float:left;
	width:150px;
	margin:0 10px 0 0;
}
.content ul li dl dt{
	color:#B09609;
	margin:16px 0 6px 0;
	font-weight:bold;
}
.content ul li dl dd{
	line-height:1.5;
}
.content a{
	display:block;
	text-align:right;
	font-size:12px;
	padding:0 11px 0 0;
	text-decoration:underline;
	background:url(../images/arrow-link.png) center right no-repeat;
}
.content a:hover{
	text-decoration:none;
}
.content .banner{
	background:#292929 url(../images/banner-man.png) right no-repeat;
	margin:23px 0 0 0;
	padding:25px 135px 35px 40px;
}
.content .banner h3{
	font-size:34px;
	font-family:"Passion One";
	font-weight:300;
	color:#fff;
}
.content .banner strong{
	display:block;
	font-size:21px;
	text-transform:uppercase;
	font-weight:100;
	color:#fff;
	letter-spacing:-1px;
	margin:-3px 0 18px 0;
}
.content .banner p{
	background:url(../images/quote-before.png) left top no-repeat, url(../images/quote-after.png) right bottom no-repeat;
	width:365px;
	text-indent:26px;
	font-style:italic;
	line-height:1.6;
}
.content .banner p span{
	color:#B09609;
}
.content .banner .author{
	display:block;
	color:#fff;
	text-align:right;
	margin:15px 98px 0 0;
	font-size:14px;
    font-weight:bold;
}
.content .banner .author i{
	font-weight:normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar{
	overflow:hidden;
	margin:35px 40px 30px 0;
}
.sidebar ul li{
	padding:5px 0;
}
.sidebar ul li+li{
	border-top:1px solid #323232; 
}
.sidebar ul li a{
	color:#717171;
	background:url(../images/arrow-link.png) center left no-repeat;
	padding: 0 0 0 16px;
}
.sidebar ul li a:hover{
	text-decoration:none;
	color:#fff;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer{
	clear:both;
	margin:0 40px;
	padding:20px 0 0 0;
	border-top:3px solid #323232;
}
.footer span a{
	font-family: 'Passion One';
    font-size: 24px;
	color:#717171;
}
.footer ul{
	float:right;
	overflow:hidden;
}
.footer ul li{
	float:left;
	margin:0 5px;
}
.footer ul li a{
	display:block;
	width:27px;
	height:24px;
	background:url(../images/social-icons.png) no-repeat;
}
.footer ul li .youtube-link{
	background-position:0 0;
}
.footer ul li .facebook-link{
	background-position:-27px 0;
}
.footer ul li .twitter-link{
	background-position:-54px 0;
}
.footer ul li .youtube-link:hover{
	background-position:0 -24px;
}
.footer ul li .facebook-link:hover{
	background-position:-27px -24px;
}
.footer ul li .twitter-link:hover{
	background-position:-54px -24px;
}

